################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SimpleGame/v15/Server/sqlite3
/.vs/SimpleGame/v15/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite-journal
/SimpleGame/bin/Debug
/SimpleGame/obj/Debug
/SimpleGame/obj/Release/SimpleGame.csproj.CoreCompileInputs.cache
